*{
	margin: 0;
	padding: 0;
}
#container{
	background: #f2f2f2;
	width: auto;
	height: auto;
	margin: 0 auto;
	border: 1px solid black;
}
#middle{
	position:relative;
	left:180px;
	width: 1000px;
	background: #e6e6e6;
}
#header{
	width: 1000px;
	height: 200px;
	background-image: url(../Pictures/headerImage.jpg);
	background-size: 950px 210px;
}
#nav{
	width: 1000px;
	background: silver;
}
	#nav ul{
			list-style:none;
		}
			#nav ul li{
				text-decoration: none;
				color: black;
				text-align: center;
				float:left;
				width: 200px;
				padding: 10px 0px;
				background: silver;
				font-size: 24px;
			}
			#nav ul li:hover{
				background: black;
				color: white;
				cursor: pointer;
			}
#text{
	width: 1000px;
	background: #e6e6e6;
}
